In [109]:
import pandas as pd
import numpy as np
import re

In [110]:
df=pd.read_excel("Website_only.xlsx", sheet_name="Sheet1")

In [111]:
df['WEBSITE']=df['WEBSITE'].fillna('').apply(str)
df['WEBSITE']=df['WEBSITE'].str.lower()
extracted_col=df["WEBSITE"]

In [112]:
df
'https?://(?:[-\w.]|(?:%[\da-fA-F]{2}))+'

'https?://(?:[-\\w.]|(?:%[\\da-fA-F]{2}))+'

In [113]:
df['Website_Sorted'] = df['WEBSITE'].apply(lambda x: re.findall(r'\b((?:https?://)?(?:(?:www\.)?(?:[\da-z\.-]+)\.(?:[a-z]{2,6})|(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)|(?:(?:[0-9a-fA-F]{1,4}:){7,7}[0-9a-fA-F]{1,4}|(?:[0-9a-fA-F]{1,4}:){1,7}:|(?:[0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|(?:[0-9a-fA-F]{1,4}:){1,5}(?::[0-9a-fA-F]{1,4}){1,2}|(?:[0-9a-fA-F]{1,4}:){1,4}(?::[0-9a-fA-F]{1,4}){1,3}|(?:[0-9a-fA-F]{1,4}:){1,3}(?::[0-9a-fA-F]{1,4}){1,4}|(?:[0-9a-fA-F]{1,4}:){1,2}(?::[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:(?:(?::[0-9a-fA-F]{1,4}){1,6})|:(?:(?::[0-9a-fA-F]{1,4}){1,7}|:)|fe80:(?::[0-9a-fA-F]{0,4}){0,4}%[0-9a-zA-Z]{1,}|::(?:ffff(?::0{1,4}){0,1}:){0,1}(?:(?:25[0-5]|(?:2[0-4]|1{0,1}[0-9]){0,1}[0-9])\.){3,3}(?:25[0-5]|(?:2[0-4]|1{0,1}[0-9]){0,1}[0-9])|(?:[0-9a-fA-F]{1,4}:){1,4}:(?:(?:25[0-5]|(?:2[0-4]|1{0,1}[0-9]){0,1}[0-9])\.){3,3}(?:25[0-5]|(?:2[0-4]|1{0,1}[0-9]){0,1}[0-9])))(?::[0-9]{1,4}|[1-5][0-9]{4}|6[0-4][0-9]{3}|65[0-4][0-9]{2}|655[0-2][0-9]|6553[0-5])?(?:/[\w\.-]*)*/?)\b',x))

In [114]:
df['Website_Sorted']

0         [http://www.manglaplastic.tradeindia.com]
1                  [http://www.maniarengineers.com]
2                  [http://www.automotivespares.in]
3                           [http://www.mann.co.in]
4                       [http://www.maplonline.com]
                            ...
249994                       [www.nasagranites.com]
249995                                           []
249996                                           []
249997                                           []
249998                        [www.systemlogic.com]
Name: Website_Sorted, Length: 249999, dtype: object

In [115]:
df1 = pd.DataFrame(df['Website_Sorted'].to_list(), columns =['Web1', 'Web2','Web3','Web4'])

In [116]:

df1

                                           Web1  Web2  Web3  Web4
0       http://www.manglaplastic.tradeindia.com  None  None  None
1                http://www.maniarengineers.com  None  None  None
2                http://www.automotivespares.in  None  None  None
3                         http://www.mann.co.in  None  None  None
4                     http://www.maplonline.com  None  None  None
...                                         ...   ...   ...   ...
249994                     www.nasagranites.com  None  None  None
249995                                     None  None  None  None
249996                                     None  None  None  None
249997                                     None  None  None  None
249998                      www.systemlogic.com  None  None  None

[249999 rows x 4 columns]

In [117]:
#df2['Web1'] = df2['Web1'].fillna(df2.pop('WEBSITE'))

In [118]:
df1.insert(0, "WEBSITE", extracted_col)

In [119]:
df1['Web1'] = df1['Web1'].mask(df1['Web1'].isna(), df1['WEBSITE'])

In [120]:
df1

,WEBSITE,Web1,Web2,Web3,Web4
0,http://www.manglaplastic.tradeindia.com,http://www.manglaplastic.tradeindia.com,None,None,None
1,http://www.maniarengineers.com,http://www.maniarengineers.com,None,None,None
2,http://www.automotivespares.in,http://www.automotivespares.in,None,None,None
3,http://www.mann.co.in,http://www.mann.co.in,None,None,None
4,http://www.maplonline.com,http://www.maplonline.com,None,None,None
...,...,...,...,...,...
249994,www.nasagranites.com,www.nasagranites.com,None,None,None
249995,,,None,None,None
249996,,,None,None,None
249997,,,None,None,None
249998,www.systemlogic.com,www.systemlogic.com,None,None,None

In [121]:
df2=df1.fillna(method='bfill', axis=1).iloc[:, 1]

In [122]:
df1.to_csv("Corrected_Website.csv")

In [123]:
df2
df2.to_csv("Final_Website.csv")