In [112]:
import pandas as pd
import numpy as np

In [113]:
df=pd.read_excel("Name_Only.xlsx", sheet_name="Sheet1")

In [114]:
print(df)

        S  No           CONTACT NAME
0            1      Mr  Anil  Mangla
1            2    Mr  Imtiaz  Maniar
2            3    Mr  Gurmeet  Singh
3            4   Mr  Tajinder  Singh
4            5  Mr  Balvinder  Singh
...        ...                   ...
249996  249997
249997  249998     Mr  Rohit Patidar
249998  249999                   NaN
249999  250000          Mr  SUNDARAM
250000  250001                   NaN

[250001 rows x 2 columns]

In [115]:
from nameparser import HumanName
df['CONTACT NAME']=df['CONTACT NAME'].fillna('').apply(str)
df['CONTACT NAME'] = df['CONTACT NAME'].str.strip().replace("[?:`-/]"," ")
df['CONTACT NAME'] = df['CONTACT NAME'].str.replace("[?:`-]","")

print(df['CONTACT NAME'])

0             Mr  Anil  Mangla
1           Mr  Imtiaz  Maniar
2           Mr  Gurmeet  Singh
3          Mr  Tajinder  Singh
4         Mr  Balvinder  Singh
                  ...
249996
249997       Mr  Rohit Patidar
249998
249999            Mr  SUNDARAM
250000
Name: CONTACT NAME, Length: 250001, dtype: object

C:\Users\Mridul\AppData\Local\Temp\ipykernel_13400\3073144624.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df['CONTACT NAME'] = df['CONTACT NAME'].str.replace("[?:`-]","")

In [109]:
df["title"] = df["CONTACT NAME"].apply(lambda x: HumanName(x).title)
df["first"] = df["CONTACT NAME"].apply(lambda x: HumanName(x).first).replace("[_x000D_]"," ")
df["middle"] = df["CONTACT NAME"].apply(lambda x: HumanName(x).middle)
df["last"] = df["CONTACT NAME"].apply(lambda x: HumanName(x).last)
df["suffix"] = df["CONTACT NAME"].apply(lambda x: HumanName(x).suffix)
df["nickname"] = df["CONTACT NAME"].apply(lambda x: HumanName(x).nickname)
 
df.drop('CONTACT NAME', axis=1)

        S  No  title      first middle      last suffix nickname
0            1    Mr       Anil           Mangla
1            2    Mr     Imtiaz           Maniar
2            3    Mr    Gurmeet            Singh
3            4    Mr   Tajinder            Singh
4            5    Mr  Balvinder            Singh
...        ...   ...        ...    ...       ...    ...      ...
249996  249997
249997  249998    Mr      Rohit          Patidar
249998  249999
249999  250000    Mr                    SUNDARAM
250000  250001

[250001 rows x 7 columns]

In [110]:
df["First_Name_Length"]= df["first"].str.len()
df['Final_First_Name'] = np.where(df['First_Name_Length'] < 3, df['first']+" "+df['middle']+" "+df['last'], df['first'])
df['Final_First_Name']=df['Final_First_Name'].str.strip()

In [111]:
df.to_csv("Corrected_Name.csv")