In [11]:
import pandas as pd
import numpy as np

In [12]:
df1=pd.read_excel("Magenta_Data.xlsx", sheet_name="Final_Sheet")
df2=pd.read_excel("Magenta_Data.xlsx", sheet_name="Already_uploaded")

In [13]:
df1

,COMPANY NAME,Web1,company linkedIn url,com FaceBook,com twtter,First_Name,Last_Name,Title,Department,Email1,Number1,Link Url,facebook Url
0,Mitora Machinex Pvt. Ltd.,http://www.mitoramachinex.com,NaN,NaN,NaN,Mihirbhai,Patel,NaN,NaN,sales@mitoramachinex.com,9.825050e+09,NaN,NaN
1,N.K. Power Presses (Regd.),http://www.nkpowerpresses.com,NaN,NaN,NaN,Shamsher,Singh,NaN,NaN,info@nkpowerpresses.com,9.888173e+09,NaN,NaN
2,New Maharashtra Mechanical Works,http://www.noor786110.com,NaN,NaN,NaN,Ali,Asgar,NaN,NaN,NaN,9.833698e+09,NaN,NaN
3,Nirmal Engg. Works (Regd.),http://www.nirmalengg.com,NaN,NaN,NaN,Gurcharan,Lotey,NaN,NaN,nirmal@nirmalengg.com,9.878438e+09,NaN,NaN
4,Nitya Enterprises,http://www.nityaenterprises.com,NaN,NaN,NaN,Manuj,Bhardwaj,NaN,NaN,naresh@nityaenterprises.com,9.810205e+09,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11660,Ringfeder power Transmission (I) Pvt. Ltd.,www.ringfeder.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,sales.inddia@ringfeder.com,NaN,NaN,NaN
11661,Rotomotive Power drives India Ltd.,www.rotomotive.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,info@rotomotive.com,NaN,NaN,NaN
11662,Suhner India Pvt. Ltd.,www.suhner.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nsm.in@suhner.com,NaN,NaN,NaN
11663,Tespa India Pvt. Ltd.,www.tespaindia.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,robotics@tespaindia.com,NaN,NaN,NaN
11664,Numeric Power Systems Ltd,www.numericups.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,cachamels@numericups.com,9.331059e+09,NaN,NaN

In [14]:
df2

,city,country,Email1,First Name,Last Name,linkedin_url,Source,Phone No,state,Title,upload_type,Owner,is_email_safe
0,NaN,NaN,abhay@kehems.com,Abhay,Gupta,NaN,Magenta_platform_update.xlsx,91-9826426522,NaN,NaN,EXCEL,Sprouts Admin,NaN
1,NaN,NaN,info@pego.in,Parvez,Shah,NaN,Magenta_platform_update.xlsx,91-8929070622,NaN,NaN,EXCEL,Sprouts Admin,NaN
2,NaN,NaN,info@technopac.net,Satish,NaN,NaN,Magenta_platform_update.xlsx,91-9843262378,NaN,NaN,EXCEL,Sprouts Admin,NaN
3,NaN,NaN,srgm@srgm.in,Anil,Choudhary,NaN,Magenta_platform_update.xlsx,2147483647,NaN,NaN,EXCEL,Sprouts Admin,NaN
4,NaN,NaN,info@nkpowerpresses.com,Shaher,Singh,NaN,Magenta_platform_update.xlsx,2147483647,NaN,NaN,EXCEL,Sprouts Admin,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3715,NaN,NaN,info@qualitysystemsindia.com,Mehfooz,Anwar,NaN,Magenta_platform_update.xlsx,91-8879774618,NaN,NaN,EXCEL,Sprouts Admin,NaN
3716,NaN,NaN,info@fein.in,Ameer,Munaff,NaN,Magenta_platform_update.xlsx,91-9500091101,NaN,NaN,EXCEL,Sprouts Admin,NaN
3717,NaN,NaN,info@rksladders.com,Dhanesekaran,NaN,NaN,Magenta_platform_update.xlsx,91-9789980831,NaN,NaN,EXCEL,Sprouts Admin,NaN
3718,NaN,NaN,murali@technoproductschennai.net?,Murali,Srinivasan,NaN,Magenta_platform_update.xlsx,91-9841072367?,NaN,NaN,EXCEL,Sprouts Admin,NaN
3719,NaN,NaN,info@tsielecpower.com,Pawan,Mittal,NaN,Magenta_platform_update.xlsx,91-9375722211,NaN,NaN,EXCEL,Sprouts Admin,NaN

In [16]:
df_all = df1.merge(df2.drop_duplicates(), on=['Email1'],how='left', indicator=True)

In [17]:
df_all

,COMPANY NAME,Web1,company linkedIn url,com FaceBook,com twtter,First_Name,Last_Name,Title_x,Department,Email1,...,Last Name,linkedin_url,Source,Phone No,state,Title_y,upload_type,Owner,is_email_safe,_merge
0,Mitora Machinex Pvt. Ltd.,http://www.mitoramachinex.com,NaN,NaN,NaN,Mihirbhai,Patel,NaN,NaN,sales@mitoramachinex.com,...,Patel,NaN,Magenta_platform_update.xlsx,2147483647,NaN,NaN,EXCEL,Sprouts Admin,NaN,both
1,N.K. Power Presses (Regd.),http://www.nkpowerpresses.com,NaN,NaN,NaN,Shamsher,Singh,NaN,NaN,info@nkpowerpresses.com,...,Singh,NaN,Magenta_platform_update.xlsx,2147483647,NaN,NaN,EXCEL,Sprouts Admin,NaN,both
2,New Maharashtra Mechanical Works,http://www.noor786110.com,NaN,NaN,NaN,Ali,Asgar,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,Nirmal Engg. Works (Regd.),http://www.nirmalengg.com,NaN,NaN,NaN,Gurcharan,Lotey,NaN,NaN,nirmal@nirmalengg.com,...,Lotey,NaN,Magenta_platform_update.xlsx,2147483647,NaN,NaN,EXCEL,Sprouts Admin,NaN,both
4,Nitya Enterprises,http://www.nityaenterprises.com,NaN,NaN,NaN,Manuj,Bhardwaj,NaN,NaN,naresh@nityaenterprises.com,...,Bhardwaj,NaN,Magenta_platform_update.xlsx,2147483647,NaN,NaN,EXCEL,Sprouts Admin,NaN,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11660,Ringfeder power Transmission (I) Pvt. Ltd.,www.ringfeder.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,sales.inddia@ringfeder.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
11661,Rotomotive Power drives India Ltd.,www.rotomotive.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,info@rotomotive.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
11662,Suhner India Pvt. Ltd.,www.suhner.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nsm.in@suhner.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
11663,Tespa India Pvt. Ltd.,www.tespaindia.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,robotics@tespaindia.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
11664,Numeric Power Systems Ltd,www.numericups.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,cachamels@numericups.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [22]:
df=df1[~df1.Email1.isin(df2.Email1)]

In [24]:
df.to_excel("Magenta_Data.xlsx", sheet_name="Not_Uploaded")